<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      const DEFAULT_OPTIONS = <%= raw(field.default_options.to_json) %>;
      const ASSET_SCOPE = <%= @asset_scope ? raw("'#{@asset_scope}'") : 'null' %>;

      function searchAssets(queryInput, callback) {
        if (!queryInput) return callback();

        const query = queryInput.trim();
        if (query.length === 0) return callback();

        $.post(`/assets/search`, { query, scope: ASSET_SCOPE })
          .then(callback)
          .catch(err => {
            console.error('Error searching assets:\n', err);
            callback();
          });
      }

      const selectize = $('#<%= f.object_name %>_asset_ids').selectize({
        create: false,
        persist: false,
        closeAfterSelect: true,
        options: DEFAULT_OPTIONS,
        valueField: 'id',
        labelField: 'name',
        searchField: 'name',
        load: searchAssets,
        plugins: ['remove_button'],
        placeholder: 'Search by asset name or scan a barcode',
        render: {
          item: (data, escape) =>`
            <div class="tag-list__item">
              ${data.primary_tag_color ? `
                <div
                  class="asset-tag__color-dot"
                  style="background-color: ${data.primary_tag_color}"
                >
                  &nbsp;
                </div>
              ` : `
                <div
                  class="asset-tag__color-dot asset-tag__color-dot--colorless"
                >
                  &nbsp;
                </div>
              `}
              <div class="tag-list__item__text">
                ${escape(data.name)}
              </div>
            </div>
          `,
          option: (data, escape) => `
            <div class="tag-list__option">
              ${data.primary_tag_color ? `
                <div
                  class="asset-tag__color-dot"
                  style="background-color: ${data.primary_tag_color}"
                >
                  &nbsp;
                </div>
              ` : `
                <div
                  class="asset-tag__color-dot asset-tag__color-dot--colorless"
                >
                  &nbsp;
                </div>
              `}
              <div class="tag-list__option__text">
                ${escape(data.name)}
              </div>
            </div>
          `,
        },
      })[0].selectize;

      // Save a reference in window.BarcodeApp globals so websocket script can update it
      window.BarcodeApp.selectizeRef = selectize;
    });
  </script>
<% end %>

<div class="field-unit__label" style="margin-top: 0.6em; margin-bottom: auto;">
  <%= f.label field.attribute, for: "#{f.object_name}_asset_ids" %>
</div>
<div class="field-unit__field">
  <%= f.select('asset_ids', nil, {}, multiple: true) do %>
    <%= options_for_select(field.default_options, field.selected_assets) %>
  <% end %>
</div>
