<% content_for :javascript do %>
  <%= render 'barcodes/global_vars' %>

  <script type="text/javascript">
    $(function() {
      const $dropdownToggle = $('.barcode-scanner-btn');
      const $dropdownContent = $('.dropdown-content');

      const handleClickOutsideDropdown = (event) => {
        if (!$(event.target).closest('.dropdown-button').length) {
          $dropdownContent.css('display', 'none');
          $(document).off('click', handleClickOutsideDropdown);
        }
      };

      $dropdownToggle.on('click', () => {
        $dropdownContent.css('display', 'flex');
        $(document).off('click', handleClickOutsideDropdown);
        $(document).on('click', handleClickOutsideDropdown);
      });

      $('#open-on-device-btn').on('click', e => {
        e.preventDefault();
        window.open(
          '<%= barcodes_scanner_path %>',
          'newwindow',
          'width=400,height=600'
        );
      });

      $('#send-telegram-btn').on('click', e => {
        e.preventDefault();
        $.get('<%= barcodes_send_telegram_link_path %>').catch(err =>
          console.error('Error generating start_scanner URL:\n', err)
        );
      });

      $('#connect-telegram-btn').on('click', e => {
        e.preventDefault();
        window.location.href = '<%= edit_admin_user_path(current_user) %>';
      });
    });
  </script>
<% end %>

<header class="admin-app-header">
  <div class="admin-app-header__content">
    <h1>NCAS Asset Management</h1>

    <%= link_to('Sign Out', destroy_user_session_path, method: 'DELETE', class: 'right-aligned') %>

    <div class="dropdown-wrapper">
      <button class="button button--alt dropdown-button barcode-scanner-btn">
        <%= image_pack_tag 'media/images/barcode-scanner.svg' %>
        <span class="label-text">Barcode Scanner</span>
      </button>

      <div class="dropdown-content">
        <ul>
          <li id="open-on-device-btn">
            <%= image_pack_tag 'media/images/external-link.svg', class: 'dropdown-icon' %>
            <%= link_to('Open on this device', barcodes_scanner_path) %>
          </li>

          <% if current_user.telegram.present? %>
            <li id="send-telegram-btn">
              <%= image_pack_tag 'media/images/telegram-logo.svg', class: 'dropdown-icon' %>
              <a href="#">Send a link to my Telegram</a>
            </li>
          <% else %>
            <li id="connect-telegram-btn">
              <%= image_pack_tag 'media/images/telegram-logo.svg', class: 'telegram-logo' %>
              <span>
                <%= link_to('Connect your Telegram', edit_admin_user_path(current_user)) %>
                and I can send a link to your phone!
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
