<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      const FULL_TAG_LIST = <%= raw(@tags.to_json) %>;

      /** Tag Filter **/
      const $searchInput = $('.tag-search__input');
      $searchInput.on('input', function() {
        applyFilter($(this).val());
      });

      function applyFilter(filter) {
        if (filter.trim().length === 0) {
          // Show all rows when filter cleared
          FULL_TAG_LIST.forEach(tag => $(`#asset-tag-row-${tag.id}`).show(250));
          return;
        }

        // Hide rows that don't match
        const matching = FULL_TAG_LIST.filter(tag => tag.name.indexOf(filter) > -1);
        const notMatching = FULL_TAG_LIST.filter(tag => tag.name.indexOf(filter) === -1);
        matching.forEach(tag => $(`#asset-tag-row-${tag.id}`).show(250));
        notMatching.forEach(tag => $(`#asset-tag-row-${tag.id}`).hide(250));
      }

      /** Buttons **/
      $('.tag-edit-btn').click(onEditClick);
      $('.tag-destroy-btn').click(onDestroyClick);
      $('.cancel-button').click(onCancelClick);
      $('.save-button').click(onSaveClick);

      function onEditClick(e) {
        e.preventDefault();
        const tagId = $(this).data('tag-id');
        const $row = $(`#asset-tag-row-${tagId}`);
        $row.removeClass('tag-list__index__tag-row__show');
        $row.addClass('tag-list__index__tag-row__edit');
      }

      function onDestroyClick(e) {
        e.preventDefault();
        if (
          !window.confirm(
            "This will PERMANENTLY delete this tag and remove it from all assets"
            + " currently tagged with it.\n\nReally delete?")
        ) return;

        const tagId = $(this).data('tag-id');

        $.ajax(`/admin/tags/${tagId}`, { method: 'DELETE' })
          .then(() => {
            // Hide row for deleted tag
            $(`#asset-tag-row-${tagId}`).hide(250);

            // Remove from FULL_TAG_LIST so search doesn't bring it back
            const index = FULL_TAG_LIST.findIndex(tag => tag.id === tagId);
            if (index > -1) FULL_TAG_LIST.splice(index, 1);
          })
          .catch(e => console.error(`Error deleting tag with ID ${tagId}:\n`, e));
      }

      function onCancelClick(e) {
        e.preventDefault();
        const tagId = $(this).data('tag-id');
        const $row = $(`#asset-tag-row-${tagId}`);
        $row.removeClass('tag-list__index__tag-row__edit');
        $row.addClass('tag-list__index__tag-row__show');
      }

      function onSaveClick(e) {
        e.preventDefault();
        const tagId = $(this).data('tag-id');
        const $row = $(`#asset-tag-row-${tagId}`);
        $row.removeClass('tag-list__index__tag-row__edit');
        $row.addClass('tag-list__index__tag-row__show');
      }

      // Prevent form submit on search box
      $('.tag-search__form').submit(e => e.preventDefault());
      $('.tag-search__form__clear-btn').click(e => {
        e.preventDefault();
        $searchInput.val('');
        $searchInput.trigger('input');
      });
    });
  </script>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    Tags
  </h1>

  <form class="search tag-search__form" role="search" style="margin-right: 0;">
    <label class="search__label" for="search">
      <svg class="search__eyeglass-icon" role="img">
        <title>
          Filter Tags
        </title>
        <use xlink:href="#icon-eyeglass"></use>
      </svg>
    </label>

    <input
      class="search__input tag-search__input"
      id="search"
      type="search"
      name="search"
      placeholder="Filter Tags"
      value=""
    />

    <a class="search__clear-link tag-search__form__clear-btn" href="/admin/tags">
      <svg class="search__clear-icon" role="img">
        <title>Clear filter</title>
        <use xlink:href="#icon-cancel"></use>
      </svg>
    </a>
  </form>
</header>

<section class="main-content__body main-content__body--flush tag-list__index">
  <% @tags.each do |tag| %>
    <div
      id="asset-tag-row-<%= tag.id %>"
      class="tag-list__index__tag-row tag-list__index__tag-row__show"
    >
      <div class="tag-row__show-view">
        <%= render partial: 'shared/asset_tag', object: tag %>

        <%= link_to(
          t("administrate.actions.edit"),
          '#',
          class: "tag-edit-btn action-edit",
          data: { tag_id: tag.id }
        ) %>

        <a
          class="tag-destroy-btn text-color-red"
          data-tag-id="<%= tag.id %>"
          data-remote="true"
          rel="nofollow"
          href="#"
        >
          Delete
        </a>
      </div>

      <div class="tag-row__edit-view">
        <div class="tag-row__color__edit">
          <div class="asset-tag__color-dot" style="background-color: <%= tag.color %>"></div>
        </div>

        <input type="text" value="<%= tag.name %>" />

        <button
          type="button"
          data-tag-id="<%= tag.id %>"
          class="save-button"
        >
          Save
        </button>

        <button
          type="button"
          class="button button--red cancel-button"
          data-tag-id="<%= tag.id %>"
        >
          Cancel
        </button>
      </div>
    </div>
  <% end %>
</section>
