<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      const DEFAULT_OPTIONS = <%= raw(field.default_options.to_json) %>;

      function searchTags(queryInput, callback) {
        if (!queryInput) return callback();

        const query = queryInput.trim();
        if (query.length === 0) return callback();

        $.get(`${window.location.origin}/tags/search`, { query })
          .then(callback)
          .catch(err => {
            console.error('Error searching tags:\n', err);
            callback();
          });
      }

      const selectize = $('#<%= f.object_name %>_tag_list').selectize({
        create: true,
        persist: false,
        options: DEFAULT_OPTIONS,
        valueField: 'name',
        labelField: 'name',
        searchField: 'name',
        load: searchTags,
        plugins: ['remove_button', 'drag_drop'],
        render: {
          item: (data, escape) =>`
            <div class="tag-list__item">
              <div
                class="asset-tag__color-dot"
                style="background-color: ${data.color}"
              >
                &nbsp;
              </div>
              <div class="tag-list__item__text">
                ${escape(data.name)}
              </div>
            </div>
          `,
          option: (data, escape) => `
            <div class="tag-list__option">
              <div
                class="asset-tag__color-dot"
                style="background-color: ${data.color}"
              >
                &nbsp;
              </div>
              <div class="tag-list__option__text">
                ${escape(data.name)}
              </div>
            </div>
          `,
        },
      })[0].selectize;

      const fixDropdownBug = selectize.positionDropdown;
      selectize.on('change', fixDropdownBug);

      selectize.on('destroy', () => {
        selectize.off('change', fixDropdownBug);
      });
    });
  </script>
<% end %>

<div class="field-unit__label">
  <%= f.label field.attribute, for: "#{f.object_name}_tag_list" %>
</div>
<div class="field-unit__field tag-list">
  <%= f.select('tag_list', nil, {}, multiple: true) do %>
    <%= options_for_select(field.default_options, field.selected_tags) %>
  <% end %>
</div>
