<!DOCTYPE html>
<html>
  <head>
    <title>NCAS Equipment - Barcode Scanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'barcode-scanner', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'barcode-scanner', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render "javascript" %>
  </body>
</html>
